@media (max-width: 1305px) {
  .get-in-touch {
    width: 84%;
    gap: 7%;
  }
  .get-in-touch-right {
    width: 46%;
  }
  .second-section {
    width: 84%;
    height: 100%;
  }
  .second-section > img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .get-in-touch-left > h1 {
    font-size: 60px;
    line-height: 64px;
  }
}

@media (max-width: 900px) {
  .get-in-touch {
    flex-direction: column;
    align-items: center;
  }
  .get-in-touch-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .get-in-touch-right {
    margin-top: 32px;
    top: 0;
    width: 60%;
  }
  .third-section {
    height: 348px;
  }
}

@media (max-width: 700px) {
  .third-section {
    height: 300px;
  }
  .second-section {
    width: 100%;
  }
}

@media (max-width: 499px) {
  .get-in-touch-right {
    width: 100%;
  }
  .second-section {
    height: 250px;
  }
}
