.cta {
  width: 100%;
  display: flex;
}
.CTA-bg-left {
  background-image: url(/img/picture/home-page/CTA-1.png);
  width: 55%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
.orange-block {
  width: 730px;
  height: 502px;
  background-color: #ff6433;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  font-weight: 700;
  font-size: 46px;
  line-height: 67px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.orange-block h3 {
  margin: 128px 50px 48px 50px;
}
.cta > .CTA-bg-left > .orange-block > .btn-1 {
  margin-left: 50px;
  background-color: #000000;
  color: #fff;
}
.CTA-bg-right {
  background-image: url(/img/picture/home-page/CTA-2.png);
  width: 45%;
  z-index: 1;
}
@media (max-width: 1100px) {
  .CTA-bg-left {
    width: 100%;
    background-image: url(/img/picture/home-page/CTA-2.png);
  }
  .orange-block {
    background-color: #ff6433;
    opacity: 0.9;
    width: 100%;
  }
  .CTA-bg-right {
    width: 0%;
  }
}
@media (max-width: 700px) {
  .orange-block {
    font-size: 40px;
    line-height: 50px;
  }
}
